/* Container for camera elements*/
#container{
    margin: 7.5em;
    text-align: center;
}
#post-heading{
    font-size: 3rem;
    font-weight: bold;
}
/* Button options */
#camera-options ion-button{
    margin: 3em 0;
}