<ion-header>
  <ion-toolbar>
    <ion-title class="title">
      HBU
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- 
<div *ngIf="showSplash" class="splash">
  <div class="spinner">
    <div class="dot1"></div>
    <div class="dot2"></div>
  </div>
</div>
-->


<!-- Router-->
<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>


<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="camera" routerLink="camera">
      <ion-label>Camera</ion-label>
      <ion-icon name="camera"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="home" routerLink="home">
      <ion-label>Home</ion-label>
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="chat" routerLink="chat">
      <ion-label>Messages</ion-label>
      <ion-icon name="chatboxes"></ion-icon>
      <ion-badge>5</ion-badge>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>


