<ion-header>
  <ion-toolbar>
    <ion-title class="title">
      HBU
    </ion-title>
  </ion-toolbar>
</ion-header>


<div *ngIf="showSplash" class="splash">
  <div class="spinner">
    <div class="dot1"></div>
    <div class="dot2"></div>
  </div>
</div>

<!-- Router-->
<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>


<!-- Menu for all pages -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button class="main-theme-color">
    <ion-icon name="add-circle-outline" id="home-button-icon"></ion-icon>
  </ion-fab-button>

  <ion-fab-list side="top">
    <ion-fab-button [routerDirection]="settings"><ion-icon name="settings"></ion-icon></ion-fab-button>
    <ion-fab-button [routerDirection]="camera"><ion-icon name="camera"></ion-icon></ion-fab-button>
    <ion-fab-button [routerDirection]="chat"><ion-icon ios="ios-chatbubbles" md="md-chatbubbles"></ion-icon></ion-fab-button>
    <ion-fab-button [routerDirection]="home"><ion-icon name="home"></ion-icon></ion-fab-button>
  </ion-fab-list>

</ion-fab>


