<!-- Card template - TEMP -->
<ion-content>

  <ion-card> <!-- would have the *ngFor to loop through post object -->
    <ion-card-header>
      <ion-segment>
        TEMP
        <!-- <ion-label *ngFor="let profile of proviles">{{profile.first_name}}</ion-label> -->
      </ion-segment>
    </ion-card-header>

<!-- 
    <ion-card-content *ngFor="let image of images">
     {{image.id}}
    </ion-card-content>
-->

    <p *ngFor="let profile of profiles">
      <ion-avatar>
        <img src={{profile.avatar}} >
      </ion-avatar>

      <!-- {{profile.avatar}} -->
      {{profile.first_name}}
      {{profile.last_name}}
    </p>

    <p *ngFor="let image of images">
       <img src={{image.download_url}} >
    </p>




    <ion-segment>
      <div (click)="toggleHeart()">
        <!-- Source: https://www.flaticon.com/free-icon/love_1029183#term=heart&page=1&position=9-->
        <img src="../assets/emptyHeart.svg" *ngIf="visible" class="like-heart">
        <!-- Source: https://www.flaticon.com/free-icon/like_149217#term=heart&page=1&position=2-->
        <img src="../assets/filledHeart.svg" *ngIf="!visible" class="like-heart">
      </div>
    </ion-segment>
  </ion-card>


</ion-content> 







