<ion-content>
  <ion-card *ngFor="let image of images"> 
    <ion-card-header>
      <ion-segment>
        <ion-icon name="contact" size="large"></ion-icon>
      </ion-segment>
    </ion-card-header>

    <ion-card-content>
      <img src={{image.download_url}}>
    </ion-card-content>


    <ion-segment>
      <!-- Source: https://www.flaticon.com/free-icon/love_1029183#term=heart&page=1&position=9-->
      <!-- Source: https://www.flaticon.com/free-icon/like_149217#term=heart&page=1&position=2-->
<!--      <div (click)="toggleHeart()">
        <img src="../assets/emptyHeart.svg" *ngIf="visible" class="like-heart">  
        <img src="../assets/filledHeart.svg" *ngIf="!visible" class="like-heart"> 
      </div> 
-->
        <ion-checkbox></ion-checkbox>
    </ion-segment>
  </ion-card>


</ion-content> 







