
// Cards - the posts themselves
ion-card{
    margin: 3em 10em;
    padding: 2em;
}
/* Heart on each post */
.like-heart{
    height: 2em;
    width: 2em;
}


// Card (post) content
ion-card-content{
    text-align: center;
    justify-content: center;
    align-content: center;
}
.image-styling{
    max-width: 960px;
    max-height: 540px;
}
