<ion-content>
  <ion-card *ngFor="let image of images"> 
    <ion-card-header>
      <ion-segment>
        <ion-icon name="contact" size="large"></ion-icon>
      </ion-segment>
    </ion-card-header>

    <ion-card-content>
      <img src={{image.download_url}} class="image-styling">
    </ion-card-content>


    <!-- Might not work since will make all cards liked if clicked on one-->
    <ion-segment>
      <div (click)="toggleHeart(this)">
        <!-- Source: https://www.flaticon.com/free-icon/love_1029183#term=heart&page=1&position=9-->
        <img src="../assets/emptyHeart.svg" *ngIf="visible" class="like-heart">
        <!-- Source: https://www.flaticon.com/free-icon/like_149217#term=heart&page=1&position=2-->
        <img src="../assets/filledHeart.svg" *ngIf="!visible" class="like-heart">
      </div>
    </ion-segment>
  </ion-card>


</ion-content> 







